<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>WISCANET Management</title>
        <meta content="WISCANET Management Tool" name="description"/>
        <meta content="Jacob Holtom" name="author"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
        <script crossorigin="anonymous" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link href="/images/favicon.png" rel="icon" type="image/png"/>
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }
            .main.container {
                margin-top: 2em;
            }
        </style>
    </head>
    <body>
        <div class="ui main container">
            <h1 class="ui header">WISCANET Management</h1>
            <div class="ui segment">
                {% if msg %}
                    <div class="ui message transition">
                        <i class="close icon"></i>
                        <div class="header">
                            {{ msg.0 }}
                        </div>
                        {{ msg.1 }}
                    </div>
                {% endif %}
                <div class="ui left dividing rail">
                    <div class="ui">
                        <h2>Edge Nodes</h2>
                        <button class="ui compact icon button labeled teal" onclick="$('#edgemodal').modal('show');">
                            <i class="plus icon"></i>Add New Edge Node</button>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui cards">
                        {% for node in edgenodes %}
                            <div class="card">
                                <div class="content">
                                    <div class="ui medium header">
                                        {{ node.name }}
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="ui list">
                                        <div class="item">IP Addr: {{ node.ipaddr }}</div>
                                        <div class="item">Radio Type: {{ node.radio_type }}</div>
                                        <div class="item">Radio Address: {{ node.radio_address }}</div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="ui tiny">
                                        <form action="/node/{{ node.id }}" method="post">
                                            <input name="_method" type="hidden" value="delete"/>
                                            <button class="ui icon button negative tiny" type="submit">
                                                <i class="delete icon"></i>Delete Node</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="ui header">Build your WISCANET Runtime Configuration by pairing Edgenodes and Applications</h3>
                <button class="ui icon button labeled teal" onclick="sendConfig()">
                    <i class="icon paper plane"></i>Write Config to Disk</button>
                <div class="ui divider"></div>
                <div class="ui three column doubling stackable grid container">
                    <div class="column">
                        <h4 class="ui header">Edge Nodes</h4>
                        <div class="inline fields">
                            <label class="ui label" for="edgenodes">Select an Edge Node</label>
                            <select class="ui fluid dropdown" id="edgenodes" name="edgenodes">
                                {% for node in edgenodes %}
                                    <option value="{{ node.id }}">{{ node.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Applications</h4>
                        <div class="inline fields">
                            <label class="ui label" for="applications">Select an Application</label>
                            <select class="ui dropdown fluid" id="applications" name="applications">
                                {% for app in applications %}
                                    <option value="{{ app.id }}">{{ app.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Edge Node and Application Pairs</h4>
                        <div class="ui relaxed divided list" id="pairs" name="pairs"></div>
                        <div class="ui form">
                            <div class="ui input fluid inline fields">
                                <label class="ui label" for="tx_gain">Transmit Gain (dB)</label>
                                <input id="tx_gain" name="tx_gain" placeholder="30.0" type="number" value=""/>
                            </div>
                            <div class="ui input fluid inline fields">
                                <label class="ui label" for="rx_gain">Receive Gain (dB)</label>
                                <input id="rx_gain" name="rx_gain" placeholder="30.0" type="number" value=""/>
                            </div>
                            <div class="ui input fluid inline fields">
                                <label class="ui label" for="subdev">Subdevice Spec
                                </label>
                                <input class="u-full-width" id="subdev" name="subdev" placeholder="Enter a subdev spec (i.e. A:A)..." type="text" value=""/>
                            </div>
                            <div class="ui input fluid inline fields">
                                <label class="ui label" for="antenna">Antenna Name
                                </label>
                                <input class="u-full-width" id="antenna" name="antenna" placeholder="Enter the antenna name(i.e. TX/RX)..." type="text" value=""/>
                            </div>
                            <div class="ui input fluid inline fields">
                                <label class="ui label" for="channels">Number of Channels</label>
                                <select class="ui dropdown" id="channels" name="channels">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="ui divider"></div>
                            <button class="ui icon button labeled teal" onclick="addAppNodePair();">
                                <i class="plus icon"></i>Add Application Node Pair</button>
                        </div>
                    </div>
                </div>
                <div class="ui right dividing rail">
                    <div class="ui">
                        <h2>Applications</h2>
                        <button class="ui compact icon button labeled teal" onclick="$('#appmodal').modal('show');">
                            <i class="plus icon"></i>Add New Application</button>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui cards">
                        {% for app in applications %}
                            <div class="card">
                                <div class="content">
                                    <div class="ui medium header">
                                        {{ app.name }}
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="ui list">
                                        <div class="item">Operating Mode: {{ app.op_mode }}</div>
                                        <div class="item">MAC Mode: {{ app.mac_mode }}</div>
                                        <div class="item">MATLAB Directory: {{ app.matlab_dir }}</div>
                                        <div class="item">MATLAB Function: {{ app.matlab_func }}</div>
                                        <div class="item">MATLAB Log Function: {{ app.matlab_log }}</div>
                                        <div class="item">Number of Samples: {{ app.num_samples }}</div>
                                        <div class="item">Sample Rate (Hz): {{ app.sample_rate }}</div>
                                        <div class="item">Center Frequency (Hz): {{ app.freq }}</div>
                                        <div class="item">Bandwidth (Hz): {{ app.bw }}</div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="ui tiny">
                                        <form action="/app/{{ app.id }}" method="post">
                                            <input name="_method" type="hidden" value="delete"/>
                                            <button class="ui icon button negative tiny" type="submit">
                                                <i class="delete icon"></i>Delete Application</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ui modal" id="edgemodal">
                <div class="header">
                    Add New Edge Node
                </div>
                <div class="content">
                    <form action="/node" class="ui form" method="post">
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">Node Name
                            </label>
                            <input autofocus id="name" name="name" placeholder="Enter a node name (i.e. wisca-nuc-blk-4)..." type="text" value=""/>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">IP Address
                            </label>
                            <input id="ipaddr" name="ipaddr" placeholder="Enter the nodes ip address (i.e. 10.206.200.203)..." type="text" value=""/>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="radio_type">Choose a radio type</label>
                            <select class="ui dropdown" id="radio_type" name="radio_type">
                                <option value="b210">USRP B210</option>
                                <option value="x310">USRP X310</option>
                            </select>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">Radio Address
                            </label>
                            <input class="u-full-width" id="radio_address" name="radio_address" placeholder="Enter the radio's address (i.e. addr=192.168.40.2)..." type="text" value=""/>
                        </div>
                    </div>
                    <div class="actions">
                        <input class="ui primary button" type="submit" value="Add Edge Node"/>
                        <div class="ui button" onclick="$('#edgemodal').modal('hide');">Cancel</div>
                    </div>
                </form>
            </div>
            <div class="ui modal" id="appmodal">
                <div class="header">
                    Add New Application
                </div>
                <div class="content">
                    <form action="/app" class="ui form" method="post">
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">Application Name
                            </label>
                            <input autofocus id="name" name="name" placeholder="Enter an application name (i.e OFDM Ping Pong)..." type="text" value=""/>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="op_mode">Choose an Operating Mode</label>
                            <select class="ui dropdown" id="op_mode" name="op_mode">
                                <option value="TX">TX Only</option>
                                <option value="RX">RX Only</option>
                                <option value="TX/RX">TX and RX</option>
                            </select>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="mac_mode">Choose a MAC Mode</label>
                            <select class="ui dropdown" id="mac_mode" name="mac_mode">
                                <option value="UMAC">UMAC</option>
                            </select>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">MATLAB Directory
                            </label>
                            <input id="matlab_dir" name="matlab_dir" placeholder="Enter the MATLAB directory (i.e UMAC_sdrn/usrpFunc)..." type="text" value=""/>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">MATLAB BaseBand Function
                            </label>
                            <input id="matlab_func" name="matlab_func" placeholder="Enter the MATLAB function name (i.e usrpQPSKNode)..." type="text" value=""/>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">MATLAB Log Function
                            </label>
                            <input id="matlab_log" name="matlab_log" placeholder="Enter the MATLAB log function name (i.e NULL)..." type="text" value=""/>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="num_samples">Choose a Number of Samples</label>
                            <select class="ui dropdown" id="num_samples" name="num_samples">
                                <option value="50000">50000</option>
                            </select>
                        </div>
                        <br/>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="sample_rate">Specify a Sample Rate (Hz)
                            </label>
                            <input id="sample_rate" name="sample_rate" placeholder="1000000" type="number" value=""/>
                        </div>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="freq">Specify a Center Frequency (Hz)
                            </label>
                            <input id="freq" name="freq" placeholder="907000000" type="number" value=""/>
                        </div>
                        <div class="ui input fluid inline fields">
                            <label class="ui label" for="bw">Specify a Bandwidth (Hz)
                            </label>
                            <input id="bw" name="bw" placeholder="100000000" type="number" value=""/>
                        </div>
                    </div>
                    <div class="actions">
                        <input class="ui primary button" type="submit" value="Add Application"/>
                        <div class="ui button" onclick="$('#appmodal').modal('hide');">Cancel</div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html></div></body><script>$(".message .close").on("click", function () {
    $(this).closest(".message").transition("fade");
});</script><script src="/app_logic.js" type="text/javascript"></script></html>